# .NET Core
bin/
obj/
*.user
*.rsuser
.vscode/

# Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Other files
*.log
*.lock.json
.DS_Store
Properties/PublishProfiles/Calculator-Assessment - Zip Deploy.pubxml.user
